/*body {
    background-color: #161616;
}*/


#Bar {
    color: #ecec5e;
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    width: auto;
    min-width: auto;
    max-width: auto;
    
}
#Shush {
    color: #ecec5e;
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    width: auto;
    min-width: auto;
    max-width: auto;
    
}
#home {
    font-family: 'Ubuntu', serif;
    color: rgb(0, 0, 0);
    /*color: #fffff06, 246, 127);*/
    
    
}
#Nekooo {
    align-self: center;
    height: 256px;
    width: auto;



}